<%= form_with(model: @person, local: true) do |f| %>
  <%= render 'shared/validation-messages', object: @person %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>

  <fieldset>
    <legend>Addresses:</legend>
    <%= f.fields_for :addresses do |addresses_form| %>
      <%= render 'address_fields', f: addresses_form %>
    <% end %>
    <%= link_to_add_fields '住所の追加', f, :addresses %>
  </fieldset>

  <fieldset>
    <legend>Abilities</legend>
    <div class="form-check form-check-inline">
      <% ability_selections = @person.ability_selections %>
      <% Ability::AbilityList.each_with_index do |ability, index| %>
        <label class="form-check-label">
          <% ability_selection = ability_selections[ability] %>
          <%= ability_hidden_tag(index, ability_selection) %>
          <%= ability_checkbox_tag(index, ability, @person) %>
          <%= ability %>
        </label>
      <% end %>
    </div>
  </fieldset>
  <%= f.submit class: 'btn btn-primary mt-2' %>
<% end %>
