<h1><%= @person.first_name %> <%= @person.last_name %></h1>
<% if @person.addresses.any? %>
  <h2>Addresses:</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Kind</th>
        <th>Street</th>
      </tr>
    </thead>
    <tbody>
      <% @person.addresses.each do |address| %>
        <tr>
          <td><%= address.kind %></td>
          <td><%= address.street %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @person.abilities.any? %>
  <h2>Ability</h2>
  <ul>
    <% @person.abilities.each do |ability| %>
      <li>
        <%= ability.ability_name %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to '一覧', people_path, class: 'btn btn-primary' %>
