<%= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
    <%= form.hidden_field :_destroy %>
    <%= link_to '削除', '#', class: 'btn btn-danger remove_song_fields' %>
  </div>
<% end %>
